* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  display: block;
  text-decoration: none;
}

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100vh;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

#canvas {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.intro-section {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s;
}

.intro-section .contents-container {
  cursor: pointer;
}

.intro-section .contents-container #ufo {
  display: block;
  width: 30%;
  top: -70%;
  z-index: 5;
  transition: all 0.5s;
}

.intro-section .contents-container #tv {
  transition: top 2s ease;
}

.intro-section .contents-container img {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.intro-section .contents-container video {
  transition: top 2s ease;
  width: 24%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: contrast(75%);
  filter: brightness(75%);
  z-index: 2;
}

.intro-section .subject {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 2s ease;
}

.intro-section h1,
.intro-section h2 {
  text-align: center;
  color: #fff;
}

.intro-section h2 {
  margin-top: 5%;
  font-family: 'Michroma', sans-serif;
}

.main-section {
  width: 100%;
  height: 100vh;
  display: block;
  opacity: 1;
  animation: main_opacity 1.5s ease;
}

@keyframes main_opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main-section #vader {
  filter: brightness(75%);
  z-index: 1;
  display: inline-block;
  position: absolute;
  left: 44%;
  transform: translateX(-50%);
  top: 9%;
  width: 13%;
}

.main-section .cursor {
  opacity: 0;
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: -0.5rem;
  left: -0.5rem;
  position: absolute;
  will-change: transform;
  transition: background 1s, opacity .3s, width .3s, height .3s, top .3s, left .3s;
  pointer-events: none;
  z-index: 3;
}

.main-section span {
  padding: 1rem;
  cursor: pointer;
  mix-blend-mode: difference;
  z-index: 9;
}

.main-section #brand_id {
  top: 10%;
  left: 10%;
  position: absolute;
  color: #fff;
  font-family: "Michroma", sans-serif;
  font-size: 1.3rem;
}

.main-section #collection {
  top: 20%;
  right: 10%;
  position: absolute;
  color: #fff;
  font-family: "Michroma", sans-serif;
  font-size: 1.5rem;
}

.main-section #site {
  bottom: 20%;
  left: 20%;
  position: absolute;
}

.main-section #site a {
  color: #fff;
  font-family: "Michroma", sans-serif;
  font-size: 1.5rem;
}

.main-section #edit {
  bottom: 10%;
  right: 15%;
  position: absolute;
  color: #fff;
  font-family: "Michroma", sans-serif;
  font-size: 1.2rem;
}

.main-section .container {
  z-index: 2;
  position: absolute;
  width: 60%;
  top: 40%;
  left: 20%;
}

.main-section .container h1 {
  text-align: center;
  font-size: 3.75rem;
  color: #fff;
}

.main-section .container h2 {
  text-align: center;
  font-size: 5rem;
  color: #fff;
  font-family: "Michroma", sans-serif;
  font-weight: 300;
}
